a{
    text-decoration: none;
    color: white;
}

.nav-gap {
  position: absolute;
  left: 66.66vw; /* exact split point */
  width: 0; 
  height: 100%;
}



*{
    /* border: 1px solid grey; */
}

.navlinks-container {
  position: relative;
  width: 100%;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 1.5em 0 0 0;
  padding: 0;
  position: absolute;
  top: 1.5em;
}

.nav-left {
  right: 33.33vw; 
  margin-right: 4em;
}

.nav-right {
  left: 66.66vw; 
  margin-left: 4em;
}

.navbar{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    justify-self: center;
    z-index: 999;
}


.navbar .img{
    margin: 0 0 0 6em;
}
.black{
    color: black;
    z-index: 99;
}

.mainPage{
    background: linear-gradient(to right, #323232 66.66vw, white 33.33vw);
    height: 100vh;
}

.box2-container{
   width: 33.33vw;
}

.nav-container{
    padding-top: 2em;
}
.box1{
    width: 66.66vw;
}

.box2{
    width: 33.33vw;
}
