a {
    text-decoration: none;
    color: white;
}

.mainPage {
    background: linear-gradient(to right, #323232 75vw, white 25vw);
    height: 100vh;
}

.nav-gap {
    position: absolute;
    left: 66.66vw;
    /* exact split point */
    width: 0;
    height: 100%;
}



* {
    /* border: 1px solid grey; */
}

.nav-container {
    position: relative;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0;
    position: absolute;
    top: 1.5em;
}

.nav-left {
    right: 25vw;
    margin-right: 4em;
}

.nav-right {
    left: 75vw;
    margin-left: 4em;
}

.navbar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    justify-self: center;
}


.navbar .img {
    margin: 0 0 0 6em;
}

.black {
    color: black;
}

.box1-container{
    width: 75vw;
} 

.box2-container {
    width: 25vw;
    left: 75vw;
    position: relative;
}

.nav-container {
    padding-top: 2em;
}

.box1 {
    width: 75vw;
}

.box2 {
    width: 25vw;
    
}


.hamburger {
    display: none;
}



.box1 {
    padding: 1em;
    color: white;
    position: relative;
    top: 15em;
    left: 7em;
}

.herotext {
    text-align: left;
}

.herotext h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.herotext h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.herotext p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 600px;
    margin-top: 2em;
}

.mono {
    white-space: pre;
}

.herotext h2:first-of-type {
    margin-bottom: 0.5em;
}


.box2 .img {
  width: 100%;
  position: relative;
  bottom: 70px;
  z-index: 99;
}

.box2 .img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  scale: 0.7;
}



.bigimage .heroimage{
    position: relative;
    z-index: 99;
    /* border: 1px solid black; */
    aspect-ratio: calc(1/1);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 100vh;
    top: 41vh;
    right: 15vw;
    overflow: hidden;
    margin-left: 40em;
    
}

.bigimage .heroimage img{
    scale: 1.2;
    position: relative;
    left: 5em;
    width: 100%;
     height: auto;
    object-fit: cover;
}





























/* ///////////////////// Responsive Design //////////////////////// */


@media (max-width: 1200px) {

    .hamburger {
        display: block;
        position: absolute;
        right: 1em;
        top: 2em;
        z-index: 1000;
        cursor: pointer;
        color: white;
    }

    .X {
        color: black;
    }

    .mainPage {
        background: #323232;
    }

    .navlinks-container {
        display: none;
        flex-direction: column;
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60vw;
        z-index: 999;
        text-align: left;
    }

    .navlinks-container ul {
        text-align: left;
    }

    .navlinks-container.open {
        display: flex;
        color: black;
    }

    .nav-left {
        margin-top: 100px;
    }

    .nav-left,
    .nav-right {
        margin-bottom: 2em;
        margin-left: 1em;
        position: static;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left a,
    .nav-right a {
        display: block;
        padding: 0.2em 0;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    .nav-left a,
    .nav-right a {
        font-size: 1.2em;
        color: black;
    }

    .navbar .img {
        margin: 0 0 0 1em;
        scale: 0.8;
    }

    .nav-container {
        padding-top: 1em;
    }





    /* //////////// Box1 ////////////// */


    .box1{
        width: 100vw;
        display: flex;
        justify-self: center;
        top: 10em;
        left: 0; 
    }

    .herotext {
        text-align: center;
    }

    .herotext h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1em;
    }

    .herotext h2 {
        font-size: 1em;
        font-weight: 500;
    }

    .herotext p {
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.5;
        max-width: 600px;
        margin-top: 2em;
    }

    .mono {
        white-space: pre;
    }

    .herotext h2:first-of-type {
        margin-bottom: 0.5em;
    }

}


@media (max-width: 1430px){
    
    .box2 .img img {
      scale: 0.8;
      position: relative;
      top: 50px;
    }
}